#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

img{
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 6px 8px 0 rgba(79, 159, 246, 0.2);
}
.column{
    display: inline;
    padding: 10px;
}
img:hover{
    border-radius: 50px;
}
.copy_right_footer{
    position: fixed;
    color: rgb(32, 145, 245);
    bottom: 0;
    width: 100%;
    background-color: aliceblue;
    line-height: 3;
    text-align: center;
}
